<html>
  <body>
    <script>
      function DYText(opts) {
        this.word = opts.word || "Hello World";

        this.fontSize = opts.fontSize || 120;
        this.fontFamily =
          opts.fontFamily ||
          "-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif";
        this.font = "italic 900 " + this.fontSize + "px " + this.fontFamily;

        this.x = opts.x || 0;
        this.y = opts.y || 0;
        this.divideNum = opts.divideNum || 6;
        this.seed = opts.seed || 0.51;

        this.colorLeft = opts.colorLeft || "yellow";
        this.colorRight = opts.colorRight || "red";
        this.color = opts.color || "black";
        this.colorBg = opts.colorBg || "black";

        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        this.ctx = ctx;
      }

      DYText.prototype.init = function () {
        var canvas = this.ctx.canvas,
          ctx = this.ctx;

        ctx.textBaseline = "top";
        ctx.font = this.font;
        this.height = this.fontSize * 1.75;
        this.offset = this.height * 0.03;
        this.width = ctx.measureText(this.word).width + this.offset * 2;
        canvas.width = this.width + this.x * 2;
        canvas.height = this.height;
      };

      DYText.prototype.update = function () {
        this.clear();
        this.draw();
        this.generate();
      };

      DYText.prototype.clear = function () {
        this.ctx.clearRect(0, 0, this.ctx.canvas.width, this.ctx.canvas.height);
      };

      DYText.prototype.draw = function () {
        var canvas = this.ctx.canvas,
          ctx = this.ctx,
          word = this.word,
          offset = this.offset,
          x = this.x,
          y = this.y;

        ctx.textBaseline = "top";
        ctx.font = this.font;

        ctx.fillStyle = this.colorLeft;
        ctx.fillText(word, x - offset, y - offset);

        ctx.fillStyle = this.color;
        ctx.fillText(word, x, y);

        ctx.globalCompositeOperation = "xor";
        ctx.fillStyle = this.colorRight;
        ctx.fillText(word, x + offset, y + offset);
        ctx.globalCompositeOperation = "source-over";

        var canvasBg = document.createElement("canvas"),
          ctxBg = canvasBg.getContext("2d");

        canvasBg.width = ctx.canvas.width;
        canvasBg.height = ctx.canvas.height;
        ctxBg.textBaseline = "top";
        ctxBg.font = this.font;

        ctxBg.fillStyle = this.color;
        ctxBg.fillText(word, x + offset, y + offset);
        ctxBg.drawImage(ctx.canvas, 0, 0);
        ctx.drawImage(canvasBg, 0, 0);
      };

      DYText.prototype.random = function (min, max) {
        var num = Math.random() * (max - min) + min;
        return num;
      };

      Array.prototype.sum = function () {
        return this.reduce(function (partial, value) {
          return partial + value;
        });
      };

      DYText.prototype.sin = function (len) {
        var res = [];
        for (let i = 0; i < len; i++) {
          var num =
            parseFloat(
              Math.abs(Math.sin(this.random(0, 6)))
                .toString()
                .slice(0, 4)
            ) * 100;
          res.push(num);
        }
        for (let i = 0; i < res.length; i++) {
          res[i] = res[i] / res.sum();
        }
        return res;
      };

      DYText.prototype.generate = function () {
        var ctx = this.ctx,
          x = this.x,
          width = this.width,
          height = this.height,
          num = this.divideNum;

        var height_seeds = this.sin(num),
          direction = 1,
          last_yn = 0,
          last_h = 0;

        for (let index = 0; index < num; index++) {
          var yn = index == 0 ? 0 : last_yn + last_h,
            h = height * height_seeds[index];
          h = h <= 2 ? 2 : h;
          last_yn = yn;
          last_h = h;

          direction = -direction;
          var imgData = ctx.getImageData(x, yn, width, h);
          ctx.putImageData(imgData, x + index * direction * this.seed, yn);
        }
      };

      DYText.prototype.toCanvas = function (targetCtx) {
        var ctx = this.ctx;
        let width = ctx.canvas.width,
          height = ctx.canvas.height;

        targetCtx.canvas.width = width;
        targetCtx.canvas.height = height;
        targetCtx.fillStyle = this.colorBg;
        targetCtx.fillRect(0, 0, width, height);
        targetCtx.drawImage(ctx.canvas, 0, 0);
      };

      DYText.prototype.createFrames = function (n) {
        this.init();
        for (let index = 0; index < n; index++) {
          this.update();

          var canvas = document.createElement("canvas"),
            ctx = canvas.getContext("2d");
          this.toCanvas(ctx);

          var a = document.createElement("a");
          a.href = canvas.toDataURL("image/png");
          document.body.appendChild(a);
        }
      };
    </script>
    <script>
      var options = {
        word: "{{text}}",
        color: "white",
        colorBg: "#1c0b1b",
        colorLeft: "#00F5EB",
        colorRight: "#FF0050",
        seed: 20 * 0.05,
        fontSize: 110,
        x: 50,
        y: 45,
      };
      var dytext = new DYText(options);
      dytext.createFrames({{frame_num}});
    </script>
  </body>
</html>
